customer-support-email/zendesk-ai-chatbot-agent.json
{
  "name": "AI Chat Agent for Zendesk Knowledge Base",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        368
      ],
      "id": "8d02d55d-8a04-4cf2-86d2-78d10be04e1a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "07wFa8Wa4mMRCHAj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.query.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        368
      ],
      "id": "b63808c3-68f9-4aac-bbf6-77d2f9f3d4a8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "path": "486b2675-a4d1-4050-ad3a-7d92a57c084b",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        0
      ],
      "id": "83aa623c-79c0-4f02-8210-45bb9db62a7b",
      "name": "Webhook",
      "webhookId": "486b2675-a4d1-4050-ad3a-7d92a57c084b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "0af57fa9-36e7-4bf0-ba64-2f2c4ad12af6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query.message }}",
        "options": {
          "systemMessage": "If ran for the first time with no memory access, always run the GraphRAG service to extract information  about the context of the InfraNodus support portal (graphSummary).\n\nThen use this knowledge to generate an enhanced search query based on the original user request for InfraNodus support portal that would help extract the correct responses, extract the answers. \n\nOnly after GraphRAG is ran and you can augment the search query, only then send this search query to search in the Zendesk articles using the Zendesk tool. \n\nThen Provide a concise response that directly addresses the original user's query using both the information you got from GraphRAG and from the Zendesk search tool.\n\nProvide references to the support articles you used to get the response in the markdown format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        0
      ],
      "id": "4c5b0e77-bbc2-4e9f-af6c-7231296d42c0",
      "name": "Support Agent"
    },
    {
      "parameters": {
        "name": "infranodus_support",
        "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', ``, 'string') }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-infranodus.infranodusTool",
      "typeVersion": 1,
      "position": [
        320,
        352
      ],
      "id": "fc257500-e2f5-4185-8ffb-2d40223a3e94",
      "name": "Get a response from knowledge base in InfraNodus Graph RAG",
      "credentials": {
        "infranodusApi": {
          "id": "oyWOY5wcgNq7pxzK",
          "name": "InfraNodus API / user expert"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Search through the Zendesk articles using a simplified search phrase as a query parameter",
        "url": "https://noduslabs.zendesk.com/api/v2/help_center/articles/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        608,
        352
      ],
      "id": "28d7576b-5c5d-4cb5-b948-c73d0007a62a",
      "name": "Zendek Search",
      "credentials": {
        "zendeskApi": {
          "id": "i5bOpw0SnJ616AzW",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 3. LLM Model to Use\n\nConnect it to your favorite LLM and set up API authentication for it.",
        "height": 400,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        304
      ],
      "typeVersion": 1,
      "id": "cb70ea7b-c33b-4d75-9a98-74186888761f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 4. Chat Memory Node\n\nThis maintains the context of the conversation.",
        "height": 400,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        304
      ],
      "typeVersion": 1,
      "id": "5fde6330-ef1e-4fd1-9fb0-2bcf07edd5f5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 5. Expert Ontology\n\nUses [InfraNodus GraphRAG node](https://n8n.io/integrations/infranodus-graph-rag/) to extract a relevant response on a query based on prebuilt ",
        "height": 400,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        304
      ],
      "typeVersion": 1,
      "id": "ff3cf0db-cdd6-4ce4-809b-779fda516619",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 5. Zendesk Knowledge Search\n\nUses [Zendesk search API](https://developer.zendesk.com/api-reference/help_center/help-center-api/search/) to find relevant articles based on the search query augmented using the InfraNodus expert ontology data (5). \n\nGet the Zendesk API key at your support portal Admin > Apps & Integrations > API Tokens. Usually it's located at [https://noduslabs.zendesk.com/admin/apps-integrations/apis/api-tokens](https://noduslabs.zendesk.com/admin/apps-integrations/apis/api-tokens) where instead of `noduslabs` you need to put the name of your support portal.",
        "height": 560,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        304
      ],
      "typeVersion": 1,
      "id": "39f8c616-d947-47e7-8ccc-444566a51326",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 6. Send Response Back to the User\n\nSends the final response, based on the InfraNodus ontology expert graph and on the search results from Zendesk support portal back to the user.\n\n### The message is sent to the webhook, which is then picked up by the [n8n Chat Widget](https://n8n-chat-widget.com) embedded on your website.",
        "height": 464,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -288
      ],
      "typeVersion": 1,
      "id": "fcb0cfc2-b600-4405-8f4f-5f3668263d4a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 2. Add AI Agent Node\n\n🚨 Edit the prompt here to be more suitable for your content, but keep the structure — it works pretty well!\n\nThis AI agent is instructed to: \n1) Consult the [InfraNodus GraphRAG](https://infranodus.com/docs/graph-rag-knowledge-graph) node to retrieve an authoritative response to the user's query.\n2) Then rewrite user's query with that context obtained to get the most relevant results from the Zendesk support portal\n3) Then synthesize these responses and deliver them to the user.",
        "height": 464,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -288
      ],
      "typeVersion": 1,
      "id": "f4b8bc81-d0d3-4f13-97e9-c5a331ad8f5a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 1. Create Webhook\nThis will activate your workflow every time a user message arrives to the URL provided.\n\n### You can connect it to the [n8n Chat Widget](https://n8n-chat-widget.com) to trigger it via a popup chat that you can embed to your support portal.",
        "height": 464,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -288
      ],
      "typeVersion": 1,
      "id": "c16c5868-21e1-4568-ab6f-c9db94fe4e4f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### The Ontology is an [InfraNodus](https://infranodus.com) Graph Used to Help Model Rewrite Prompt and Extract Better Results from Zendesk:\n\n![InfraNodus Ontology](https://support.noduslabs.com/hc/article_attachments/24080217545116)",
        "height": 416,
        "width": 608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        736
      ],
      "typeVersion": 1,
      "id": "ac975b0d-a015-4339-9782-00a954b837db",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "### This widget can be embedded on any website using the [n8n Chat Widget](https://n8n-chat-widget.com) generator. Here's an example from our own support portal: [support.noduslabs.com](https://support.noduslabs.com)\n\n![InfraNodus Ontology](https://support.noduslabs.com/hc/article_attachments/24080339347484)",
        "height": 464,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        -288
      ],
      "typeVersion": 1,
      "id": "9afdf945-4745-47f1-b456-2a0c4e551d98",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Support Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a response from knowledge base in InfraNodus Graph RAG": {
      "ai_tool": [
        [
          {
            "node": "Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Zendek Search": {
      "ai_tool": [
        [
          {
            "node": "Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e08e755-7660-48af-92ed-7309f8b1d283",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a26454b0172ffcb8d70ba77c235b1209f92cd71bf06c79ba609c7173b416d68"
  },
  "id": "xhLyJ4EWBt2ljawr",
  "tags": [
    {
      "createdAt": "2025-05-21T17:06:32.355Z",
      "updatedAt": "2025-05-21T17:06:32.355Z",
      "id": "66wgFoDi9Xjl74M3",
      "name": "Support"
    },
    {
      "createdAt": "2025-12-06T21:44:48.353Z",
      "updatedAt": "2025-12-06T21:44:48.353Z",
      "id": "6RL6WutxFvThSY35",
      "name": "GraphRAG"
    },
    {
      "createdAt": "2025-06-05T12:03:26.567Z",
      "updatedAt": "2025-06-05T12:03:26.567Z",
      "id": "Hd23erjIskV5mwPl",
      "name": "Sales"
    },
    {
      "createdAt": "2025-05-20T13:16:15.636Z",
      "updatedAt": "2025-05-20T13:16:15.636Z",
      "id": "sJk9cUvmMU8FkJXv",
      "name": "AI"
    }
  ]
}